<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Jokee Single Website</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
  <header>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Navbar brand -->
      <a class="navbar-brand mt-2 mt-lg-0" href="#">
        <img
          src="https://www.hl.solutions/images/logo.png"
          height="15"
          alt="HL Logo"
          loading="lazy"
        />
      </a>
    </div>
        <!-- Right elements -->
    <div class="d-flex align-items-center">
        <img
            src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
            class="rounded-circle"
            height="25"
            alt="avatar default"
            loading="lazy"
          />
    </div>
    </div>
  </nav>
  <!-- Navbar -->

  <!-- Jumbotron -->
  <div class="p-5 text-center bg-success">
    <h1 class="mb-3">A joke a day keep the doctor away</h1>
    <h4 class="mb-3">if you joke wrong away, your teeth have to pay.(Serious)</h4>
  </div>
  <!-- Jumbotron -->
</header>
    <div class = "container-fluid page site-content">
        <div class="joke-content">
            {{jokecontent}}
        </div>
        <div class="voting">
            <button type="button" class="btn btn-primary">This is Funny!</button>
            <button type="button" class="btn btn-success">This is not funny.</button>
        </div>
    </div>
    <footer class="text-center text-lg-start bg-light text-muted">
        <div class="container">
            <span> This Website is created by program...</span>
        </div>
    </footer>


  </div>
</body>

</html>